.sidebar {
    background-color: #ccc;
    
    
}

ul.sidebar {
    padding-left: 0px;
    width: 400px;
    display: inline-block;

}

ul.sidebar li {
    list-style: none;
}

ul.sidebar > li {
    border-top: 2px solid blue;

}

ul.sidebar li ul {
    padding-left: 0px;
}

ul.sidebar li ul li {
    background-color: #eee;

}

.unlist {
    display: inline-block;
}